/* Regole principali */
* {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 25px;

    
}
/* Creazione Header */
header {
     background-image:url(../img/pattern.png) ;
     background-color:steelblue;
     width: 100%; 
    }
#logo {
    padding-top: 90px;
    width: 10%;
    padding-bottom: 20px;
    padding-left: 10px;
}
h1 {
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 10px;


}
#sottoscritta {
    margin-top: 0;
    font-size: 30px;
    color: grey;
    font-weight: 600;
   }
   #blue {
    color: dodgerblue;
   } 

   #data {
    font-size: 25px; 
    color: grey;
    font-weight: 400;
    padding-top: 5px;
   }
   /* Start immage + description */

   
   
   #immage1 {
    width: 49%;
    height: 600px;
 
   }
   #immage2 {
    width: 49%;
    height: 600px;
   }
   .Description {
    font-size: 20px;
    font-weight:bold;
   }
   .underline {
    background-color: yellow;
   }

   #unordered {
    margin-top: 60px;
    margin-bottom: 60px;
   
   }

   #tabella {
    height: 200px;
   }
   .left {
    text-align: left;
    padding-right: 50px;
    width: 25%;
   }

   #table1 {
    background-color: cornflowerblue;
    color: white;
   }
   .table2 {
    background-color: aqua;
    color:black
   }

   #paragraph3 {
    padding-top: 30px;
    padding-bottom: 30px;
   }